<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Define Product Information -->
  <Product Id="*"
           Name="Weasis Launcher"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="map"
           UpgradeCode="9766d408-232c-4940-bff8-b19169e6c054">
    <Package InstallerVersion="500"
             Compressed="yes"
             Comments="Weasis Launcher Installer"/>

    <!-- Define the Directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Weasis Launcher"/>

        <!-- Define the file to be installed -->
        <Component Id="WeasisLauncherComponent" Guid="56b63333-1d2b-4eae-badf-e3ad5c238ff9">
          <File Id="WeasisLauncherFile"
                Name="weasis-launcher-4.6.0-SNAPSHOT.jar"
                Source="..\..\target\weasis-launcher-4.6.0-SNAPSHOT.jar"
                KeyPath="yes"/>
        </Component>
      </Directory>
    </Directory>

    <!-- Define Features -->
    <Feature Id="ProductFeature" Title="Weasis Launcher" Level="1">
      <ComponentRef Id="WeasisLauncherComponent"/>
    </Feature>
  </Product>
</Wix>
